title {
    background-color: antiquewhite;
}
div {
    background-color:cornflowerblue;
    width: 300px;
}
h2{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: teal ;
    width: 190px;
    /* height: 00 px; */
    margin : 3px;
}
table {
    border : 2px solid black;
    border-collapse: collapse ;
    text-align : center;
    padding : 25px;
}
th,td {
    border : 2px solid black;
    font-family: 'Times New Roman', Times, serif;
    padding : 15px;
    

}
th {
    background-color: grey;
    font-size: 26px;
    font-weight:bold;
    
    
}